$primary-color: #333;
$success-color: hsl(165, 58%, 55%);
$info-color: hsl(214, 79%, 65%);
$warning-color: hsl(43, 100%, 66%);
$danger-color: hsl(354, 81%, 63%);
$mobile: 768px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mo--screen {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}
